<header>
    <div class="header-content" >
        <div class="header-content-inner" >
            <h1>@ResourceProject.Index.PageTitle</h1>
            <hr>
            <p>@ResourceProject.Index.PageContent</p>
            
        </div>
    </div>
</header>