
    <aside class="bg-dark" id="download">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>@ResourceProject.Download.PageTitle</h2>
                <h4>@ResourceProject.Download.PageContent</h4>
                    <br />
                    <p>
                        <a href="http://installer.coopsmill.com/diginote/setup.exe" class="btn btn-default btn-xl wow tada">@ResourceProject.Download.ButtonDisplay</a>
                    </p>
</div>
        </div>
    </aside>
